# Environment
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Model weights
*.pt
*.pth
*.pth.tar

# Output video
output/
thumbnails/
sample/
sample copy/
sample3/
predictions_runs_current/

# macOS
.DS_Store