ultralytics>=8.3.0
lap>=0.5.12
yacs>=0.1.8
tqdm>=4.66.0
ftfy>=6.2.0
regex>=2024.5.15
packaging>=24.0
pillow>=10.4.0
requests>=2.32.0
opencv-python>=4.10.0
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-dotenv>=1.0.0
PyJWT>=2.9.0
psutil>=6.0.0
# kalau perlu fitur warna pakaian: git+https://github.com/openai/CLIP.git